* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background 0.2s linear;
}

/* LOGO DO SITE */
.imagem-cabecalho {
    width: 125px;
    height: auto;
    left: 30px;
    align-items: center;
}

/* BOTÃO DE MENU */
button{
    font-size: 35px;
    margin-top: 35px;
    margin-left: 35px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    float: left;
}

.vertical-menu {
    display: none;
    list-style-type: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-right: 30px;
    float: left;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(66, 214, 66);
}

li {
    padding: 10px;
}

/* BOTÃO DO TEMA */
body.dark {
    background: #232c35;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    position: relative;
    height: auto;
}

.label .ball {
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 20px;
    width: 20px;
    transform: translateX(0px);
    transition: transform 0.1s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #ffffff;
}

.fa-sun {
    color: #f39c12;
}

/* LOGO DO AGRINHO */
.logo-agrinho {
    position: absolute;
    align-items: center;
    width: 300px;
    height: auto;
    float: right;
}

/* TÍTULOS E TEXTOS */
.titulo-principal {
    font-size: 100px;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.titulo-principal-pt2 {
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* IMAGENS DO SITE */

#container {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 500px;
    background-color: #6bb77d;
    padding: 0;
    align-items: center;
    border-radius: 30px;
}

.imagem-planta {
    width: 40%;
    margin: 0, 15px;
    border-radius: 60px;
}