* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #ffffff;
    overflow-x: hidden;
}

.cabecalho {
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px 5%;
    background: black;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* BOTÃO DE MENU */
button{
    font-size: 35px;
    margin-top: 35px;
    margin-left: 35px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    float: left;
}

.vertical-menu {
    display: none;
    list-style-type: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-right: 30px;
    float: left;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(66, 214, 66);
}

li {
    padding: 10px;
}

.logo-agrinho {
    width: 150px;
    height: auto;
    float: left;
}

.cabecalho-itens {
    list-style: none;
    gap: 35px;
    display: flex;
}

.cabecalho-lista a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s;
}

.logo-do-site {
    width: 150px;
    height: auto;
}


.titulo-principal {
    font-size: 70px;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 1100;
    padding: 0;
    
}

.titulo-principal-pt2 {
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;

}


body {
    align-items: center;
}

#container {
    display: flex;
    flex-direction: row;
    width: 1150px;
    height: auto;
    background-color: #6bb77d;
    padding: 109px 350px;
    align-items: center;
    border-radius: 30px;
}

.imagem-planta {
    padding-left: 30px;
    width: 40%;
    margin: 0, 15px;
    border-radius: 50px;
    height: 350px;
}