* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    color: #fff;
    background: #000;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    padding-inline: 16px;
}

.logo-site {
    display: flex;
    justify-content: flex-start;
    width: 100px;
    height: auto;
}

.cabecalho-itens {
    display: flex;
    text-decoration: none;
    gap: 20px;
    color: #fff;
    list-style: none;
}

.logo-agrinho {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    height: auto;
}


/* .dark-mode {
    --bg-color: #1f2937;
    --text-color: #f3f4f6;
    --primary-color: #818cf8;
    --header-bg: #111827;
    --menu-bg: #111827;
    --card-bg: #1f2937;
    --footer-bg: #111827;
}
        
.text-smaller {
    --text-base-size: 0.875rem;
}
        
.text-larger {
    --text-base-size: 1.125rem;
}
        
.text-largest {
    --text-base-size: 1.25rem;
} */