body {
    color: white;
    background-color: black;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.imagem-configuracao {
    width: 150px;
    height: 150px;
    position: right top;
}