* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    background: black;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.imagem-cabecalho {
    width: 100px;
    height: auto;
    margin-bottom: 30px;
}

.logo-agrinho {
    margin-right: 30px;
    margin-top: 15px;
    width: 200px;
    height: auto;
    float: right;
}

button{
    font-size: 30px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    float: left;
}

.vertical-menu {
    display: none;
    list-style-type: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-right: 30px;
    float: left;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(66, 214, 66);
}

li {
    padding: 10px;
}

/*nav {
*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-light: #eef17;
    --background-dark: #303030;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: var(--background-light);
    display: flex;
    justify-content: top,right;
    transition: ease-in-out .3s;
}

.container.dark{
    background-color: var(--background-dark);
}

.label{
    width: 50px;
    height: 26px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
    justify-content: space-between;
    align-items: top, right;
    padding: 5px;
    position: relative;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.bi-sun-fill{
    color: yellow;
}

.bi-moon-fill{
    color: white;
}

.ball{
    background-color: white;
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform .2s linear;
}

.checkbox:checked + .label .ball{
    transform: translateX(24px);
}
}